.name-pfp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    padding: 25px;
    /*border: 5px solid black;
    background-color: white;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;*/
    text-shadow: 4px 1px 33px rgba(248,255,0,1);
}

.bild-pfp {
    height: 500px;
    width: 500px;
    border: 5px solid white;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.candles {
    font-size: 50px;
    border: 5px solid black;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
}

body {
    background-image: url("https://images.pexels.com/photos/218480/pexels-photo-218480.jpeg?cs=srgb&dl=pexels-pixabay-218480.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gebe-Tribute {
    border: 5px solid red;
    background-color: red;
    border-radius: 5px;
    font-size: 25px;
    width: 255px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
